@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,600,700,800,italic);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #1d3d87;
  line-height: 1;
  font-family: Roboto;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  line-height: 1.2;
  background-color: #a8c1c4
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  background-color: #fff;
  color: #1d3d87;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 2.5rem;
  margin-top: .9375rem;
  border-radius: .625rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #1d3d87;
  transition: all .3s
}
.button--fw {
  width: 100%
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  cursor: pointer;
  border-radius: .3125rem;
  width: 100%;
  display: block;
  padding: .625rem 1.25rem;
  border: 1px solid #eee;
  caret-color: inherit
}
.input._form-focus {
  outline: 0
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  height: 7.5rem;
  color: #fff
}
textarea.input::-webkit-input-placeholder {
  color: #fff
}
textarea.input:-ms-input-placeholder {
  color: #fff
}
textarea.input::-ms-input-placeholder {
  color: #fff
}
textarea.input::placeholder {
  color: #fff
}
.select {
  min-width: 0;
  position: relative
}
.select:not(:last-child) {
  margin-bottom: 1.25rem
}
.select__body {
  position: relative
}
.select__title {
  font-size: 1.375rem;
  font-weight: 700!important;
  height: 4.375rem;
  color: #fff;
  text-align: left;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  width: 100%;
  border-radius: 4px
}
.select__value {
  font-weight: 700!important;
  display: flex;
  min-width: 0;
  align-items: center;
  height: 1.875rem;
  padding: 0 .9375rem;
  gap: .625rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: url(../img/arrow.svg);
  align-self: stretch;
  flex: 0 0 .5rem;
  transition: all .3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center
}
._select-open .select__value:after {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: #1d3d87;
  position: absolute;
  top: calc(100% - .0625rem);
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0 10px 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  font-size: 1.375rem;
  font-weight: 700!important;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 10px 15px;
  color: inherit
}
.select__option._select-selected {
  background-color: #eee
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem);
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 5px 0 10px 0
}
._select-tag {
  cursor: pointer
}
.form-contact__select {
  height: 3.125rem!important
}
.form-contact__select:not(:last-child) {
  margin-bottom: .9375rem!important
}
.qs-datepicker-container {
  margin: 5px;
  font-size: 1rem;
  font-family: sans-serif;
  color: #000;
  position: absolute;
  width: 15.625em;
  display: flex;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background: #000;
  box-shadow: 0 1.25em 1.25em -.9375em rgba(0,0,0,.3);
  border-right: 1px solid #fff;
  border-left: 1px solid #f1ad70;
  padding: 5px
}
.qs-datepicker-container:after,
.qs-datepicker-container:before {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  z-index: 2;
  position: absolute;
  background-image: linear-gradient(to right,#f1ad70 0,#fffdf2 100%)
}
.qs-datepicker-container:before {
  top: 0
}
.qs-datepicker-container:after {
  bottom: 0
}
.qs-datepicker-container * {
  box-sizing: border-box
}
.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.qs-datepicker-container.qs-hidden {
  display: none
}
.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: .5em;
  z-index: 1;
  opacity: 1;
  transition: opacity .3s;
  display: flex;
  flex-direction: column
}
.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1
}
.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0,0,0,0);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: .875em;
  padding: .25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block
}
.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none
}
.qs-datepicker .qs-overlay .qs-close {
  padding: .5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0
}
.qs-datepicker .qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: .26392em;
  padding: .5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: rgba(128,128,128,.4)
}
.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed
}
.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1
}
.qs-datepicker .qs-overlay .qs-overlay-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: .5;
  transition: opacity .15s
}
.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1
}
.qs-datepicker .qs-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  background: #000;
  color: #fff;
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s,-webkit-filter .3s;
  transition: filter .3s,-webkit-filter .3s
}
.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px)
}
.qs-datepicker .qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: .26392em;
  transition: background .15s
}
.qs-datepicker .qs-arrow:hover {
  background: rgba(0,0,0,.1)
}
.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000
}
.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000
}
.qs-datepicker .qs-arrow:after {
  content: "";
  border: .39062em solid transparent;
  position: absolute;
  top: 50%;
  transition: border .2s
}
.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: gray;
  right: 50%;
  -webkit-transform: translate(25%,-50%);
  transform: translate(25%,-50%)
}
.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: gray;
  left: 50%;
  -webkit-transform: translate(-25%,-50%);
  transform: translate(-25%,-50%)
}
.qs-datepicker .qs-month-year {
  font-weight: 700;
  transition: border .2s;
  border-bottom: 1px solid transparent;
  cursor: pointer
}
.qs-datepicker .qs-month-year:hover {
  border-bottom: 1px solid gray
}
.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: 0
}
.qs-datepicker .qs-month {
  padding-right: .5ex
}
.qs-datepicker .qs-year {
  padding-left: .5ex
}
.qs-datepicker .qs-squares {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  padding: .3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s,-webkit-filter .3s;
  transition: filter .3s,-webkit-filter .3s
}
.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px)
}
.qs-datepicker .qs-square {
  width: 14.28571%;
  height: 1.5625em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background .1s;
  border-radius: .26392em
}
.qs-datepicker .qs-square.qs-current {
  font-weight: 700
}
.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline
}
.qs-datepicker .qs-square.qs-active {
  background: #fff;
  color: #000
}
.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2
}
.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0
}
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}
.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}
.qs-datepicker .qs-square.qs-disabled span {
  opacity: .2
}
.qs-datepicker .qs-square.qs-empty {
  cursor: default
}
.qs-datepicker .qs-square.qs-disabled {
  cursor: not-allowed
}
.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 700;
  color: gray
}
.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: orange
}
.qs-datepicker .qs-event {
  position: relative
}
.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: .46875em;
  height: .46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0
}
.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  color: #0e072f;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.popup__content {
  padding: 2.5rem;
  display: grid;
  justify-items: center
}
.popup__title {
  text-align: center
}
.popup__text {
  text-align: center
}
.popup__text:not(:last-child) {
  margin-bottom: 2.8125rem
}
.popup__close {
  font-weight: 700;
  color: #fff;
  border-radius: .9375rem;
  background-color: #1d3d87;
  padding: 1.25rem 2.1875rem;
  transition: all .3s
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title {
  text-align: center;
  font-weight: 600
}
.header {
  position: absolute;
  width: 100%;
  z-index: 110;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.549)
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem
}
.header__logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-style: italic;
  color: #2d5152
}
.header__menu {
  display: flex;
  align-items: center
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap
}
.menu__link {
  font-weight: 600;
  padding: .375rem;
  position: relative
}
.menu__link:after {
  background: none repeat scroll 0 0 rgba(0,0,0,0);
  bottom: 0;
  content: "";
  display: block;
  height: .125rem;
  left: 50%;
  position: absolute;
  background: #1d3d87;
  transition: width .3s ease 0s,left .3s ease 0s;
  width: 0
}
.menu__link:hover:after {
  width: 100%;
  left: 0
}
.icon-menu {
  display: none
}
.footer {
  background-color: #1d3d87;
  color: #fff
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem
}
.footer__buttons {
  display: flex;
  align-items: center;
  gap: .9375rem;
  flex-wrap: wrap;
  justify-content: space-around
}
.footer__button {
  font-size: 1rem;
  font-weight: 700
}
.footer__content {
  display: flex;
  align-items: center;
  gap: .9375rem
}
.footer__copy {
  font-size: 1.125rem
}
.hero {
  background: url(../img/hero.webp) center/cover no-repeat;
  position: relative
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.249)
}
.hero__container {
  display: grid;
  justify-items: center;
  gap: 2.5rem;
  text-align: center;
  z-index: 100
}
.hero__title {
  font-weight: 800
}
.service__container {
  display: grid;
  justify-items: center
}
.service__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(16.875rem,1fr));
  gap: 1.875rem
}
.item-service {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.25rem;
  align-items: center
}
.item-service__image {
  border-radius: 1.25rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 6/5
}
.item-service__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .5s
}
.item-service__name {
  font-weight: 600;
  transition: all .3s
}
.why__items {
  width: 100%;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fill,minmax(17.1875rem,1fr))
}
.item-why {
  display: flex;
  align-self: start;
  flex-direction: column-reverse
}
.item-why__text {
  font-weight: 600;
  transition: all .3s;
  text-align: center
}
.item-why__image {
  position: relative;
  aspect-ratio: 3/2;
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
  border-radius: .9375rem
}
.item-why__image img {
  transition: all .3s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.contact__body {
  display: grid;
  grid-template-columns: 57.4% 40%;
  gap: 2.6%
}
.contact__calculator {
  background-color: #1d3d87;
  color: #fff;
  border-radius: 1.25rem;
  padding: 1.875rem 1.875rem
}
.form-contact {
  align-self: start;
  display: grid;
  gap: .625rem;
  background-color: #1d3d87;
  color: #fff;
  border-radius: 1.25rem;
  padding: 1.875rem
}
.form-contact__calendar {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(2,1fr)
}
.form-contact__calendar-item {
  display: grid;
  gap: .75rem
}
.form-calculator__label {
  margin-bottom: 1.25rem
}
.form-calculator__result {
  margin-top: 1.5625rem;
  text-align: center;
  font-weight: 600
}
.form-calculator__button {
  width: 100%;
  margin-top: 1.875rem
}
.subscription-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px
}
.subscription-table,
.subscription-table td,
.subscription-table th {
  border: 1px solid #000;
  padding: 10px;
  text-align: left
}
.subscription-table th {
  background-color: #f2f2f2
}
.abonements__label {
  font-weight: 700
}
.abonements__label:not(:last-child) {
  margin-bottom: 1.25rem
}
.abonements__title {
  text-align: center;
  font-weight: 800
}
.abonements__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.abonements__tables {
  display: grid;
  gap: 2.5rem
}
.blog__articles {
  display: grid;
  gap: 2.5rem
}
.blog__title {
  text-align: center;
  font-weight: 800
}
.blog__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.article-blog {
  overflow: hidden;
  border-radius: 1.875rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  background-color: #1d3d87;
  color: #fff
}
.article-blog__content {
  padding: 1.875rem;
  gap: 2.5rem
}
.article-blog__title {
  transition: all .3s;
  font-weight: 600
}
.article-blog__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.article-blog__image {
  display: block;
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden
}
.article-blog__image img {
  transition: all .5s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.article__title {
  transition: all .3s;
  font-weight: 600
}
.article__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.article__label {
  font-weight: 500
}
.article__label:not(:last-child) {
  margin-bottom: 2.5rem
}
.article__list {
  display: grid;
  gap: .75rem
}
.article__list li {
  display: flex;
  gap: 1.25rem;
  align-items: center
}
.article__list li::before {
  flex-shrink: 0;
  content: "";
  width: .8125rem;
  height: .8125rem;
  background-color: #1d3d87;
  border-radius: 50%
}
.article__image {
  border-radius: .625rem;
  overflow: hidden;
  margin-top: 2.5rem;
  width: 100%;
  aspect-ratio: 2/1;
  position: relative
}
.article__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover
}
.contact-page__container {
  display: grid;
  justify-items: center
}
.contact-page__title {
  transition: all .3s;
  font-weight: 600;
  text-align: center
}
.contact-page__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.contact-page__body {
  display: grid;
  justify-items: center;
  width: 100%
}
.form-contact-page {
  align-self: start;
  display: grid;
  gap: .75rem;
  background-color: #1d3d87;
  color: #fff;
  border-radius: 1.25rem;
  padding: 1.875rem;
  width: 100%
}
.form-contact-page__input {
  width: 100%
}
.policy__label {
  text-align: center;
  margin-bottom: 1.875rem
}
.policy__text {
  display: grid;
  gap: 1.25rem
}
@media (min-width:47.99875em) {
  .popup__text {
    max-width: 80%
  }
}
@media (min-width:61.99875em) {
  .hero__title {
    max-width: 80%
  }
  .hero__text {
    max-width: 80%
  }
  .article-blog__content {
    flex: 0 1 63%
  }
  .article-blog__image {
    flex: 0 1 35%
  }
  .form-contact-page {
    width: 80%
  }
}
@media (min-width:75em) {
  .button {
    font-size: 1.625rem
  }
  .input {
    font-size: 1.25rem
  }
  .popup__close {
    font-size: 2rem
  }
  .title {
    font-size: 3.125rem
  }
  .title:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .header {
    padding-top: 1.25rem
  }
  .header {
    padding-bottom: 1.25rem
  }
  .header__logo img {
    width: 5rem
  }
  .header__logo {
    font-size: 2.1875rem
  }
  .footer {
    padding-top: 1.875rem
  }
  .footer {
    padding-bottom: 1.875rem
  }
  .footer__buttons {
    max-width: 50%
  }
  .footer__logo img {
    width: 5rem
  }
  .hero__container {
    padding-top: 15.625rem
  }
  .hero__container {
    padding-bottom: 12.5rem
  }
  .hero__title {
    font-size: 3.75rem
  }
  .hero__text {
    font-size: 1.875rem
  }
  .service {
    padding-top: 6.25rem
  }
  .service {
    padding-bottom: 6.25rem
  }
  .item-service__name {
    font-size: 1.875rem
  }
  .why {
    padding-bottom: 5rem
  }
  .item-why {
    gap: 1.875rem
  }
  .item-why__text {
    font-size: 1.5rem
  }
  .contact {
    padding-bottom: 5rem
  }
  .form-contact__title {
    font-size: 2.8125rem
  }
  .form-contact__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .form-contact__label {
    font-size: 1.5rem
  }
  .form-calculator__title {
    font-size: 2.8125rem
  }
  .form-calculator__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .form-calculator__label {
    font-size: 1.5rem
  }
  .form-calculator__result {
    font-size: 1.5rem
  }
  .page__abonements {
    padding-bottom: 12.5rem
  }
  .page__abonements {
    padding-top: 12.5rem
  }
  .abonements__label {
    font-size: 1.875rem
  }
  .abonements__title {
    font-size: 3.75rem
  }
  .blog {
    padding-bottom: 12.5rem
  }
  .blog {
    padding-top: 12.5rem
  }
  .blog__title {
    font-size: 3.75rem
  }
  .article-blog__title {
    font-size: 2.8125rem
  }
  .article {
    padding-bottom: 12.5rem
  }
  .article {
    padding-top: 12.5rem
  }
  .article__title {
    font-size: 3.125rem
  }
  .article__label {
    font-size: 1.6875rem
  }
  .article__list {
    font-size: 1.5rem
  }
  .contact-page {
    padding-bottom: 12.5rem
  }
  .contact-page {
    padding-top: 12.5rem
  }
  .contact-page__title {
    font-size: 3.125rem
  }
  .form-contact-page__label {
    font-size: 1.5rem
  }
  .policy {
    padding-bottom: 12.5rem
  }
  .policy {
    padding-top: 12.5rem
  }
  .policy__label {
    font-size: 2.1875rem
  }
}
@media (min-width:120em) {
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
}
@media (max-width:75em) {
  .footer__container {
    flex-direction: column-reverse
  }
  .footer__content {
    flex-direction: column-reverse
  }
  .footer__copy {
    text-align: center
  }
}
@media (max-width:50em) {
  .contact__body {
    grid-template-columns: 1fr
  }
}
@media (max-width:20em) {
  .button {
    font-size: 1.25rem
  }
  .input {
    font-size: 1rem
  }
  .popup__close {
    font-size: 1.5rem
  }
  .title {
    font-size: 2.375rem
  }
  .title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .header {
    padding-top: .625rem
  }
  .header {
    padding-bottom: .625rem
  }
  .header__logo img {
    width: 3.75rem
  }
  .header__logo {
    font-size: 1.375rem
  }
  .footer {
    padding-top: 1.25rem
  }
  .footer {
    padding-bottom: 1.25rem
  }
  .footer__logo img {
    width: 3.75rem
  }
  .hero__container {
    padding-top: 8.75rem
  }
  .hero__container {
    padding-bottom: 6.25rem
  }
  .hero__title {
    font-size: 2.5rem
  }
  .hero__text {
    font-size: 1.25rem
  }
  .service {
    padding-top: 3.75rem
  }
  .service {
    padding-bottom: 3.75rem
  }
  .item-service__name {
    font-size: 1.5rem
  }
  .why {
    padding-bottom: 2.5rem
  }
  .item-why {
    gap: 1.25rem
  }
  .item-why__text {
    font-size: 1.25rem
  }
  .contact {
    padding-bottom: 2.5rem
  }
  .form-contact__title {
    font-size: 2.25rem
  }
  .form-contact__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .form-contact__label {
    font-size: 1.125rem
  }
  .form-calculator__title {
    font-size: 2.25rem
  }
  .form-calculator__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .form-calculator__label {
    font-size: 1.125rem
  }
  .form-calculator__result {
    font-size: 1.25rem
  }
  .page__abonements {
    padding-bottom: 6.25rem
  }
  .page__abonements {
    padding-top: 8.75rem
  }
  .abonements__label {
    font-size: 1.25rem
  }
  .abonements__title {
    font-size: 2.5rem
  }
  .blog {
    padding-bottom: 6.25rem
  }
  .blog {
    padding-top: 8.75rem
  }
  .blog__title {
    font-size: 2.5rem
  }
  .article-blog__title {
    font-size: 2.1875rem
  }
  .article {
    padding-bottom: 6.25rem
  }
  .article {
    padding-top: 8.75rem
  }
  .article__title {
    font-size: 2.1875rem
  }
  .article__label {
    font-size: 1.375rem
  }
  .article__list {
    font-size: 1.125rem
  }
  .contact-page {
    padding-bottom: 6.25rem
  }
  .contact-page {
    padding-top: 8.75rem
  }
  .contact-page__title {
    font-size: 2.1875rem
  }
  .form-contact-page__label {
    font-size: 1.125rem
  }
  .policy {
    padding-bottom: 6.25rem
  }
  .policy {
    padding-top: 8.75rem
  }
  .policy__label {
    font-size: 1.75rem
  }
}
@media (max-width:61.99875em) {
  .form-contact {
    padding: 1.875rem 1.25rem
  }
  .form-contact__calendar {
    grid-template-columns: 1fr;
    gap: .75rem
  }
  .blog__articles {
    display: flex;
    flex-direction: column
  }
  .article-blog {
    flex-direction: column
  }
  .article-blog__image {
    aspect-ratio: 5/3
  }
}
@media (max-width:47.99875em) {
  .popup__content {
    padding: 1.5625rem
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: rgba(255,255,255,.9176470588);
    padding: 6.25rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .menu__list {
    flex-direction: column;
    gap: 1.25rem
  }
  .menu__link {
    font-size: 2rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #1d3d87
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .item-service__image {
    aspect-ratio: 6/4
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:20em)and (max-width:75em) {
  .button {
    font-size: clamp(1.25rem ,1.1136363636rem + .6818181818vw ,1.625rem)
  }
  .input {
    font-size: clamp(1rem ,.9090909091rem + .4545454545vw ,1.25rem)
  }
  .popup__close {
    font-size: clamp(1.5rem ,1.3181818182rem + .9090909091vw ,2rem)
  }
  .title {
    font-size: clamp(2.375rem ,2.1022727273rem + 1.3636363636vw ,3.125rem)
  }
  .title:not(:last-child) {
    margin-bottom: clamp(1.875rem ,1.1931818182rem + 3.4090909091vw ,3.75rem)
  }
  .header {
    padding-top: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .header {
    padding-bottom: clamp(.625rem ,.3977272727rem + 1.1363636364vw ,1.25rem)
  }
  .header__logo img {
    width: clamp(3.75rem ,3.2954545455rem + 2.2727272727vw ,5rem)
  }
  .header__logo {
    font-size: clamp(1.375rem ,1.0795454545rem + 1.4772727273vw ,2.1875rem)
  }
  .footer {
    padding-top: clamp(1.25rem ,1.0227272727rem + 1.1363636364vw ,1.875rem)
  }
  .footer {
    padding-bottom: clamp(1.25rem ,1.0227272727rem + 1.1363636364vw ,1.875rem)
  }
  .footer__logo img {
    width: clamp(3.75rem ,3.2954545455rem + 2.2727272727vw ,5rem)
  }
  .hero__container {
    padding-top: clamp(8.75rem ,6.25rem + 12.5vw ,15.625rem)
  }
  .hero__container {
    padding-bottom: clamp(6.25rem ,3.9772727273rem + 11.3636363636vw ,12.5rem)
  }
  .hero__title {
    font-size: clamp(2.5rem ,2.0454545455rem + 2.2727272727vw ,3.75rem)
  }
  .hero__text {
    font-size: clamp(1.25rem ,1.0227272727rem + 1.1363636364vw ,1.875rem)
  }
  .service {
    padding-top: clamp(3.75rem ,2.8409090909rem + 4.5454545455vw ,6.25rem)
  }
  .service {
    padding-bottom: clamp(3.75rem ,2.8409090909rem + 4.5454545455vw ,6.25rem)
  }
  .item-service__name {
    font-size: clamp(1.5rem ,1.3636363636rem + .6818181818vw ,1.875rem)
  }
  .why {
    padding-bottom: clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)
  }
  .item-why {
    gap: clamp(1.25rem ,1.0227272727rem + 1.1363636364vw ,1.875rem)
  }
  .item-why__text {
    font-size: clamp(1.25rem ,1.1590909091rem + .4545454545vw ,1.5rem)
  }
  .contact {
    padding-bottom: clamp(2.5rem ,1.5909090909rem + 4.5454545455vw ,5rem)
  }
  .form-contact__title {
    font-size: clamp(2.25rem ,2.0454545455rem + 1.0227272727vw ,2.8125rem)
  }
  .form-contact__title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,1.0227272727rem + 1.1363636364vw ,1.875rem)
  }
  .form-contact__label {
    font-size: clamp(1.125rem ,.9886363636rem + .6818181818vw ,1.5rem)
  }
  .form-calculator__title {
    font-size: clamp(2.25rem ,2.0454545455rem + 1.0227272727vw ,2.8125rem)
  }
  .form-calculator__title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,1.0227272727rem + 1.1363636364vw ,1.875rem)
  }
  .form-calculator__label {
    font-size: clamp(1.125rem ,.9886363636rem + .6818181818vw ,1.5rem)
  }
  .form-calculator__result {
    font-size: clamp(1.25rem ,1.1590909091rem + .4545454545vw ,1.5rem)
  }
  .page__abonements {
    padding-bottom: clamp(6.25rem ,3.9772727273rem + 11.3636363636vw ,12.5rem)
  }
  .page__abonements {
    padding-top: clamp(8.75rem ,7.3863636364rem + 6.8181818182vw ,12.5rem)
  }
  .abonements__label {
    font-size: clamp(1.25rem ,1.0227272727rem + 1.1363636364vw ,1.875rem)
  }
  .abonements__title {
    font-size: clamp(2.5rem ,2.0454545455rem + 2.2727272727vw ,3.75rem)
  }
  .blog {
    padding-bottom: clamp(6.25rem ,3.9772727273rem + 11.3636363636vw ,12.5rem)
  }
  .blog {
    padding-top: clamp(8.75rem ,7.3863636364rem + 6.8181818182vw ,12.5rem)
  }
  .blog__title {
    font-size: clamp(2.5rem ,2.0454545455rem + 2.2727272727vw ,3.75rem)
  }
  .article-blog__title {
    font-size: clamp(2.1875rem ,1.9602272727rem + 1.1363636364vw ,2.8125rem)
  }
  .article {
    padding-bottom: clamp(6.25rem ,3.9772727273rem + 11.3636363636vw ,12.5rem)
  }
  .article {
    padding-top: clamp(8.75rem ,7.3863636364rem + 6.8181818182vw ,12.5rem)
  }
  .article__title {
    font-size: clamp(2.1875rem ,1.8465909091rem + 1.7045454545vw ,3.125rem)
  }
  .article__label {
    font-size: clamp(1.375rem ,1.2613636364rem + .5681818182vw ,1.6875rem)
  }
  .article__list {
    font-size: clamp(1.125rem ,.9886363636rem + .6818181818vw ,1.5rem)
  }
  .contact-page {
    padding-bottom: clamp(6.25rem ,3.9772727273rem + 11.3636363636vw ,12.5rem)
  }
  .contact-page {
    padding-top: clamp(8.75rem ,7.3863636364rem + 6.8181818182vw ,12.5rem)
  }
  .contact-page__title {
    font-size: clamp(2.1875rem ,1.8465909091rem + 1.7045454545vw ,3.125rem)
  }
  .form-contact-page__label {
    font-size: clamp(1.125rem ,.9886363636rem + .6818181818vw ,1.5rem)
  }
  .policy {
    padding-bottom: clamp(6.25rem ,3.9772727273rem + 11.3636363636vw ,12.5rem)
  }
  .policy {
    padding-top: clamp(8.75rem ,7.3863636364rem + 6.8181818182vw ,12.5rem)
  }
  .policy__label {
    font-size: clamp(1.75rem ,1.5909090909rem + .7954545455vw ,2.1875rem)
  }
}
@media (min-width:47.99875em)and (max-width:120em) {
  .menu__list {
    -webkit-column-gap: clamp(.625rem ,.4166757088rem + .4340202427vw ,.9375rem);
    -moz-column-gap: clamp(.625rem ,.4166757088rem + .4340202427vw ,.9375rem);
    column-gap: clamp(.625rem ,.4166757088rem + .4340202427vw ,.9375rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #1d3d87;
    color: #fff;
    border: 1px solid #fff
  }
  .select__option:hover {
    background: #d9d9d9
  }
  .popup__close:hover {
    background-color: #0e072f;
    color: #fff
  }
  .footer__button:hover {
    text-decoration: underline
  }
  .item-service__image:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .item-service__name:hover {
    color: #2d5152
  }
  .item-why__image:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .article-blog__title:hover {
    color: rgba(197,201,226,.8509803922)
  }
  .article-blog__image:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}